<h1>Restaurants (<%= @restaurants.length %>)</h1>
<% if current_user %>
  <% if current_user.owner == 0 %>
    <%= link_to "Add a Restaurant", "/restaurants/new" %>
    <% end %>
<% end %>

<% @restaurants.each do |restaurant| %>

  <div class="restaurant">
    <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
    <p><%= word_wrap(restaurant.summary.first(50), line_width: 20) %></p>
    <p><%= restaurant.category %></p>
    <p><%= restaurant.address %></p>
    </br></br>
  </div>
<% end %>