<center><h1 class="mainseatyourself"></h1>
<p>SeatYourself is an online restaurant booking service which allows you to find and discover restaurants.</p></br>

<h2>All Restaurants (<%= @restaurants.length %>)</h2>
<% @restaurants.each do |restaurant| %>
  <div class="restaurant">
    <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
    <p><%= word_wrap(restaurant.summary.first(50), line_width: 20) %></p>
    <p><%= restaurant.category %></p>
    <p><%= restaurant.address %></p>
    </br></br>
  </div>
  <% end %>
</center>