<h1>Add a Restaurant</h1>
<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :price_range, "Average Price" %><br />
    <%= f.text_field :price_range %>
  </div>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>

  <div class="field">
    <%= f.label :category_id, "Category" %><br />
    <%= f.select :category_id, Category.all.collect { |c| [ c.name, c.id ] }, include_blank: false %>
    <!-- map and collect seem to do the same thing. c.name is being used as the name that is being displayed in the dropdown, c.id is the value that is returned when submitting form -->
  </div>

  <div class="field">
    <%= f.label :hours_of_operation %><br />
    <%= f.text_field :hours_of_operation %>
  </div>

  <div class="field">
    <%= f.label :phone_num, "Phone Number" %><br />
    <%= f.text_field :phone_num %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
