<h1><%= @restaurant.name %></h1>

  <div class="restaurant">
    <p>Description: <%= @restaurant.summary %></p>
    <p><%= @restaurant.category %></p>
    <p>Address: <%= @restaurant.address %></p>
    <p>Hours of Operation: <%= @restaurant.hours_of_operation %></p>
    <p>Average Price: <%= @restaurant.price_range %></p>
    <p>Phone Number: <%= @restaurant.phone_num %></p>
    <%= link_to "Make Reservation", new_restaurant_reservation_path(@restaurant.id)%>
  </div>
