<h1><%= @restaurant.name %></h1>

  <div class="restaurant">
    <p><%= @restaurant.summary %></p>
    <p><%= @restaurant.category %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.hours_of_operation %></p>
    <p><%= @restaurant.price_range %></p>
    <p><%= @restaurant.phone_num %></p>
    <%= link_to "Make Reservation", '/reservations/new'%>
  </div>
